<div class="upcomingMovies">
  <figure class="movieCards">
    <img src="/images/{{filename}}" width="100%" height="auto" />
    <h5>{{movie_name}}</h5>
    <p class="card-text">2 hr 4 min | PG-13</p>
    <button id="notebookMovie" type="button" class="btn btn-info">Reserve Seat</button>
  </figure>
</div>  