


      
<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/jaws_trailer_poster.png" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="whiteCol">The Notebook</h5>
        <p>Watch the Trailer</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/jaws_trailer_poster.png" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="whiteCol">Titanic</h5>
        <p>Watch the Trailer</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/jaws_trailer_poster.png" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="whiteCol">Jaws</h5>
        <p>Watch the Trailer</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<h3>Playing This Week</h3>
<div class="upcomingMovies">
  <figure class="movieCards">
    <img src="/images/jaws.jpg" width="100%" height="auto">
    <h5>Jaws</h5>
    <p class="card-text">2 hr 10 min | PG</p>
    <button id="jawsMovie" type="button" class="btn btn-info">Reserve Seat</button>
  </figure>
  <figure class="movieCards">
    <img src="/images/notebook.jpg" width="100%" height="auto">
    <h5>The Notebook</h5>
    <p class="card-text">2 hr 4 min | PG-13</p>
    <button id="notebookMovie" type="button" class="btn btn-info">Reserve Seat</button>
  </figure>
  <figure class="movieCards">
    <img src="/images/wizard-of-oz.jpg" width="100%" height="auto">
    <h5>The Wizard of Oz</h5>
    <p class="card-text">1 hr 52 min | G</p>
    <button id="wizardOzMovie"type="button" class="btn btn-info">Reserve Seat</button>
  </figure>
  </div>

  <hr>

  <div class="upcomingMovies">
  <figure class="movieCards">
    <img src="/images/titanic.jpg" width="100%" height="auto">
    <h5>Titanic</h5>
    <p class="card-text">3 hr 30 min | PG-13</p>
    <button id="titanicMovie" type="button" class="btn btn-info">Reserve Seat</button>
  </figure>
  <figure class="movieCards">
    <img src="/images/rush-hour.jpg" width="100%" height="auto">
    <h5>Rush Hour</h5>
    <p class="card-text">1 hr 38 min | PG-13</p>
    <button id="rushHrMovie" type="button" class="btn btn-info">Reserve Seat</button>
  </figure>
  <figure class="movieCards">
    <img src="/images/willy-wonka.jpg" width="100%" height="auto">
    <h5>Willy Wonka &amp; The Chocolate Factory</h5>
    <p class="card-text">1 hr 40 min | G</p>
    <button id="willyWonkaMovie" type="button" class="btn btn-info">Reserve Seat</button>
  </figure>
</div>