<h2>Login</h2>
<form>        
    <div class="form-group">
        <label for="customerEmail">Email address</label>
        <input type="email" class="form-control" id="customerEmail" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="customerPassword">Password</label>
        <input type="password" class="form-control" id="customerPassword">
    </div>
    <button type="submit" class="btn btn-info">Login</button> <button type="button" class="btn btn-light">Create Account</button>
</form>
<script src="/js/login.js"></script>