/* Resets the box size of every element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Gives the body element a parent height to compare against */
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
  }
  
  /* Matches the font of special elements to the rest of the page */
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }
  
  /* Removes default bullet points from lists */
  ol, ul {
    list-style: none;
  }
  /* End of Reset */


header {
  background: #151a3a;
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 50px;
}

/* All the paragraph text will have the same font, size, weight and line height*/
p {
  font-size: 1.05em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.25em;
}

img.logo {
  display: inline-block;
  position: absolute;
  left: 2em;
  top: .35em;
  width: 26px;
  height: auto;
  opacity: 1;
}

nav {
  display: inline-block;
  margin: 1.15em 1em 1em;
  position: absolute;
  right: 1em;
  opacity: 1;
}

nav a {
  color: #FFF;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05em;
  letter-spacing: 1px;
  text-decoration: none;
  padding-right: 1em;
}

nav a:hover {
  color: rgb(105, 122, 189);
  text-decoration: underline;
}

header p {
  display: inline-block;
  color: #ebeeee;
  font-size: 1.2em;
  font-weight: lighter;
  position: absolute;
  left: 3em;
  letter-spacing: .5px;
  margin: .8em 0 0 .35em;
}

/* All the headings will have the same font, boldness and will be aligned left */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  h1 {
    font-size: 4em;
    line-height: 1em;

  }

  h2 {
    font-size: 3em;
    line-height: 1em;
    margin: .25em auto .75em;
  }
  
  h3 {
    font-size: 2em;
    text-align: left;
    margin: .75em 0 0;
  }

  h3.reservationhdr {
    font-size: 2.75em;
    line-height: 1em;
    margin: .25em auto 1em;
    text-align: center;
  }
  
  h4 {
    font-size: 1.75em;
    line-height: 1.15em;
    margin: .5em 0 0;
  }
  
  h5 {
    color: #5f8091;
    font-size: 1.25em;
    line-height: 1.35em;
    margin: .35em auto .25em;
  }
  
  h6 {
    color: #FFF;
    font-size: 1.15em;
    font-weight: normal;
    line-height: 1.25em;
  }

  main {
    position: relative;
    padding: 2em;
    margin: 0 auto 1em;
    max-width: 800px;
    height: auto;
  }

  .upcomingMovies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: .5em auto;
    width: 100%;
  }
  
  .movieCards {
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    color: #5f8091;
    flex: content;
    margin: .25em;
    padding: 0 0 .5em;
    flex: 1 1 200px;
    text-align: center;
  }

  .leftAlign {
    text-align: left;
  }